html {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background-repeat: repeat-x;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 35rem;
  background: white;
  margin-top: 2em;
  border-radius: 15px;
}

.heading {
  font-family: "Times New Roman", Verdana, sans-serif;
  font-size: 2rem;
  flex: 1 1 auto;
  text-shadow: 4px 4px 5px grey;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 3px;
}

.input_container {
  /*min-width: 200px;*/
  width: 70%;
  justify-content: right;
  align-self: center;
  margin-top: -50px;
}

.task_list {
  justify-content: left;
  align-self: center;
  width: 70%;
  flex: 1 1 auto;
}

.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1.5rem;
}

ul {
  /*flex: 2 1 auto; */
  align-self: flex-start;
  list-style-type: none;
  padding: 20px;
  line-height: 1.5cm;
  font-family: "Times New Roman", Verdana, sans-serif;
  font-size: 1.5rem;
}

.delete-btn {
  background-image: url("del.jpg");
  background-size: cover;
  width: 33px;
  height: 30px;
  font-size: 2rem;
  border: none;
  float: right;
}

#input-task {
  border: none;
  border-bottom: 2px solid;
  width: 80%;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0px;
}

span {
  margin: 15px;
}

#add-task-button {
  font-family: "Times New Roman", Verdana, sans-serif;
  float: right;
  margin-top: 10px;
  background-color: #ba6fdd;
  background-size: cover;
  min-width: 80px;
  width: 100px;
  height: 33px;
  font-size: 15px;
  color: white;
  border: none;
}

.checkbox {
  width: 20px;
}

.item:hover {
  background-color: bisque;
  border-radius: 20px;
}

#input-task:hover {
  color: grey;
  font-size: 15px;
}

/* applied when the todo item is checked */
input[type="checkbox"]:checked + label > span.task {
  text-decoration: line-through;
  color: mediumpurple;
}

/*.checked {
    text-decoration: line-through;
    color: mediumpurple;
} */
